[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "prinvars"]
	path = prinvars
	url = https://github.com/ronho/prinvars
	shallow = true
	registered = true
